@charset "UTF-8";
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border:none; }
@font-face { font-family: helveticaNeueReg; src: url(HelveticaNeueReg.woff); }
@font-face { font-family: helveticaNeueLight; src: url(HelveticaNeueLight.woff); }
body { margin: auto; padding: 0px; font-family: tui_font, tahoma, arial, helvetica; font-size: 18px; }
p { text-align: center; padding: 0px; width: 100%; }

/* set ad size global */

#container { width: 970px; height: 250px; background-color: #FFFFFF; border: solid 0px #e2e2e2; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background-image: url(bg.png); cursor: pointer; overflow: hidden; }

#bg { width: 970px; height: 250px; cursor:pointer; }

/* set box position global */

#box1 { left: 257px; }
#box2 { left: 508px; }
#box3 { left: 758px; }


/* box */

.box { top: 20px; width: 160px; height: 226px; position: absolute; /*border: solid 1px #e2e2e2; */}
.dest_img { width: 160px; height: 118px; background-size: cover; background-color: #FFFFFF; margin: 0 auto;}
.title { font-family: helveticaNeueReg; font-size: 20px; line-height: 20px; height: 40px; color: #FFFFFF; margin: 20px 0px 0px 0px;  text-overflow:clip; overflow:hidden; }
.sub_title { font-family: helveticaNeueLight; font-size: 12px; line-height: 16px; height: 16px; color: #FFFFFF; margin: 5px 0px 0px 0px;  }

/* box over */

#btn { background-image: url(btn.png); width: 160px; height: 50px; position: absolute; left: 24px; top: 182px; }
.box_bg { height: 80px; width: 170px; position: absolute; top: 90px; }

.box_over { width: 160px; height: 118px; position: absolute; top: 0px; left: 0px; cursor: pointer; border: solid 5px #ffc600; opacity: 0; }
.box_over:hover { opacity: 1; }



/* set loader */

#content.show { display: block; }
#content.hide, #loader.hide { display: none; }
#loader.show { display: block; }
#loader { text-align: center; font-size: 24px; line-height: 600px; background-color: #042d53; color: #FFFFFF; text-transform: uppercase; }
